@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700&display=swap');

*{
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background-color: hsl(225, 100%, 94%);
}
h2 {
    text-align: center;
    font-family: fantasy;
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
}
.navbar{
    background-color:hsla(54, 100%, 50%, 0.815);
}

.navbar h1{
    font-weight: 700;
}

.card{
    margin: 1rem auto 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img-top{
    padding: 0.5rem 0.5rem 0 0.5rem;
}
.card-img-top img{
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

.card-title{
    font-weight: 700;
}

.card-text2{
    color:hsl(224, 23%, 55%);
}

.botones-card{
    width: 100%;
    margin: auto;
    border-top: 1px solid rgba(128, 128, 128, 0.486); 
}

.botones-card a{
    background-color: hsla(245, 75%, 52%, 0.815);
    border: none;
    width: 100%;
    margin-top: 1rem;
}

.card6-img{
    width: 270px;
    height: 180px;
    font-size: 50px;
    background-color: rgba(0, 0, 255, 0.075);
    margin: 8px auto;
}

.card6-img i{
    margin-top: 3rem;
}


footer{
    background-color: hsla(54, 100%, 50%, 0.815);
}
